.titulo {
    font-family: 'Permanent Marker';
    font-size: 40px;
    text-align: center;
}

.resaltado {
    color: blue;
}

 section {
    font-family: 'Montserrat';font-size: 22px;
    background-color: #BBDEFB;
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
}

#titulo-seccion {
    background-color: darkblue;
    color: white;
    border: 1px solid black;
    text-align: right;
    padding: 5px;
    width: fit-content;
    
}

@media (min-width: 992px){
    
}