
* {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo-principal {
    font-family: 'Permanent Marker';
    font-size: 40px;
    text-align: center;
}

.resaltado {
    color: blue;
}

p {
    width: 33.3%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

div {
    font-family: 'Montserrat';
    font-style: italic;
}

.parrafo1 {
    background-color: #BBDEFB;
    border: 2px solid black;
}

.parrafo2 {
    background-color: #BBDEFB;
    border: 2px solid black;
}

.parrafo3 {
    background-color: #BBDEFB;
    border: 2px solid black;
    float: right;
    
}

h3 {
    float: right;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: white;
}

.titulo1 {background-color: darkblue;}
.titulo2 {background-color: darkcyan;}
.titulo3 {background-color: darkslateblue;}

.texto {
    clear: right;
    text-align: left;
    width: fit-content;
    padding: 30px;
    background-color: #BBDEFB;
}

@media (min-width: 992px) {

    .col-xl-3 {
        float: left;
        margin: 10px;
        width: 31%;
        height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .col-md-2 {
        width: 45%;
    }

    .parrafo1 {
        float: left;
        height: 350px;
    }

    .parrafo2 {
        float: right;
        height: 350px;
    }

    .parrafo3 {
        height: fit-content;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {

    p {
        height: auto;
    }

    .parrafo1 {
        float: left;
        margin-bottom: 20px;
    }

    .parrafo2 {
        float: left;
        margin-bottom: 20px;
    }

    .parrafo3 {
        float: left;
        margin-bottom: 20px;
    }
}